.tabBar {
  display: flex;
  gap: 50px;
}

.tabStep {
  height: 30px;
  width: 30px;
  background-color: var(--light-background-color);
  border: 1px solid black;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:not(:last-of-type)::after {
    content: ".................";
    position: absolute;
    top: 0;
    left: 100%;
  }
  &.active {
    background-color: var(--dark-background-color);
    color: var(--light-text-color);
  }
}
