@import "mixins";

.servicesGridCardInfo {
  @include flexRowDoubleCentered;
  height: 100%;
  width: 100%;
  .servicesGridCardInfoContainer {
    @include flexColumnHorizontallyCentered;
    gap: 10;
    .servicesGridCardInfoSVGContainer {
      @include flexRowDoubleCentered;
      background-color: "#ffffff";
      border: 3px solid green;
      height: 80px;
      border-radius: 50%;
      width: 80px;
    }
  }
}
