.articleButton {
    padding: 10px 36px;
    height: 48px;
    border-radius: 37px;
    background: transparent;
    border: 1px solid var(--light-background-color);
    color: var(--light-text-color);
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
}

.articleButton_Active {
    background: var(--primary-color);
    border: none;
}