@import "mixins";

.statsCard {
  @include flexColumnDoubleCentered;
  background-color: var(--light-background-color);
  padding: 20px;
  width: 240px;
  transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: background, transform, color, opacity;

  &:not(:empty):hover,
  &:not(:empty):focus {
    z-index: 1;
    color: #fff;
    background: #e0fefd;
    opacity: 1;
    transform: scale(1.15) rotateZ(20deg);
    cursor: pointer;

    &:after {
      opacity: 1;
    }

    &:before {
      opacity: 0;
    }
  }
}
