.articleButton {
  padding: 10px 36px;
  height: 48px;
  border-radius: 37px;
  background: transparent;
  border: 1px solid var(--light-background-color);
}

.articleButton_Active {
  background: var(--primary-color);
  border: none;
}
