@import "mixins";

.headerSection {
  @include flexColumnVerticallySpaceBetween;
  gap: 50px;
  height: 90vh;
  justify-content: space-evenly;
}

.sidebarActive {
  height: 100vh;
  justify-content: baseline;
}
