.calendarSection {
  width: 95%;
  height: calc(100vh - var(--navbar-height));
  margin: 0 auto;
}

.schedule-overview {
  width: 100%;
}

.schedule-overview .overview-header {
  border: 1px solid #007bff;
}

.schedule-overview .overview-header .overview-titlebar {
  background-color: #007bff;
  color: #ffffff;
  height: 40px;
  line-height: 40px;
  width: 100%;
  font-size: 12px;
  padding: 0 10px;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
}

.schedule-overview .overview-header .overview-titlebar .right-panel {
  display: flex;
  justify-content: space-between;
}

.schedule-overview
  .overview-header
  .overview-titlebar
  .e-upload.calendar-import {
  line-height: 40px;
}

.schedule-overview
  .overview-header
  .overview-titlebar
  .e-upload.calendar-import
  button,
.schedule-overview
  .overview-header
  .overview-titlebar
  .e-upload.calendar-import
  button:focus,
.schedule-overview
  .overview-header
  .overview-titlebar
  .e-upload.calendar-import
  button:hover {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: inherit;
  font-size: 12px;
  height: 40px;
  text-transform: capitalize;
}

.schedule-overview .overview-header .overview-titlebar .title-bar-btn,
.schedule-overview .overview-header .overview-titlebar .title-bar-btn:hover,
.schedule-overview .overview-header .overview-titlebar .title-bar-btn:focus,
.schedule-overview .overview-header .overview-titlebar .e-dropdown-btn,
.schedule-overview .overview-header .overview-titlebar .e-dropdown-btn.e-btn {
  background: transparent;
  box-shadow: none;
  font-family: inherit;
  border-color: transparent;
  border-radius: 2px;
  color: inherit;
  font-size: 12px;
  text-transform: capitalize;
  height: 40px;
  font-weight: 400;
}

.schedule-overview
  .overview-header
  .overview-titlebar
  .e-btn:not([disabled]):focus {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.schedule-overview .overview-content {
  border: 1px solid #00000026;
  border-top: 0;
  display: flex;
}

.schedule-overview .overview-content .left-panel {
  height: 600px;
  width: 100%;
}

.schedule-overview .overview-content .right-panel {
  display: block;
  height: 600px;
  transform: translateX(0%);
  transition: transform 0.5s ease, width 500ms;
}

.schedule-overview .overview-content .right-panel.hide {
  display: none;
  transform: translateX(100%);
  transition: transform 0.5s ease, width 500ms;
  width: 0;
}

.schedule-overview .overview-content .right-panel .control-panel {
  background: #f8f9fa;
  border-left: 1px solid #00000026;
  font-size: 14px;
  height: 100%;
  overflow: auto;
  padding: 15px;
  width: 100%;
}

.schedule-overview .overview-content .right-panel .control-panel .col-row {
  display: flex;
  flex-wrap: wrap;
}

.schedule-overview .overview-content .right-panel .control-panel label {
  font-weight: 500;
}

.schedule-overview .overview-content .right-panel .control-panel .col-left {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  margin-bottom: 1rem;
}

.schedule-overview .overview-content .right-panel .control-panel .col-right {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  margin-bottom: 1rem;
}

.schedule-overview .overview-scheduler {
  height: 100%;
  padding: 10px;
  width: 100%;
}

.schedule-overview .e-schedule .e-vertical-view .e-header-cells {
  text-align: center !important;
}

.schedule-overview .e-schedule .date-text {
  font-size: 14px;
}

.schedule-overview .e-schedule.e-device .date-text {
  font-size: 12px;
}

.schedule-overview .e-schedule .weather-image {
  width: 20px;
  height: 20px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.schedule-overview .e-schedule-toolbar .e-views,
.schedule-overview .e-schedule-toolbar .e-schedule-seperator,
.schedule-workweek.e-multi-select-list-wrapper.e-checkbox .e-filter-parent,
.schedule-resource.e-multi-select-list-wrapper.e-checkbox .e-filter-parent {
  display: none;
}

.schedule-overview .e-timeline-view .e-resource-left-td,
.schedule-overview .e-timeline-month-view .e-resource-left-td {
  width: 120px;
}

.schedule-resource.e-multi-select-list-wrapper.e-checkbox
  .e-list-parent:first-child
  li:first-child {
  background-image: none;
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.schedule-overview .quick-info-header {
  background-color: white;
  padding: 8px 18px;
}

.schedule-overview .quick-info-header-content {
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  padding: 5px 10px 5px;
}

.schedule-overview .quick-info-title {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.48px;
  height: 22px;
}

.schedule-overview .duration-text {
  font-size: 11px;
  letter-spacing: 0.33px;
  height: 14px;
}

.schedule-overview .content-area {
  padding: 10px;
  width: auto;
  margin: unset;
}

.schedule-overview .event-content {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}

.schedule-overview .meeting-type-wrap,
.schedule-overview .meeting-subject-wrap,
.schedule-overview .notes-wrap {
  font-size: 11px;
  color: #666;
  letter-spacing: 0.33px;
  height: 24px;
  padding: 5px;
  display: flex;
}

.schedule-overview .event-content div label {
  display: inline-block;
  min-width: 45px;
  color: #666;
}

.schedule-overview .event-content div span {
  font-size: 11px;
  color: #151515;
  letter-spacing: 0.33px;
  line-height: 14px;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.schedule-overview .cell-footer.e-btn {
  background-color: #ffffff;
  border-color: #878787;
  color: #878787;
}

.schedule-overview .cell-footer {
  padding-top: 10px;
}

.schedule-overview .e-quick-popup-wrapper .e-cell-popup .e-popup-content {
  padding: 0 14px;
}

.schedule-overview .e-quick-popup-wrapper .e-event-popup .e-popup-footer {
  display: block;
}

.schedule-overview .e-quick-popup-wrapper .e-popup-footer button:first-child {
  margin-right: 5px;
}

.schedule-overview .calendar-import.e-upload {
  border: 0;
  padding-left: 0 !important;
}

.schedule-overview .calendar-import.e-upload .e-file-select-wrap {
  padding: 0;
}

.schedule-overview .calendar-import.e-upload .e-file-select-wrap .e-file-drop,
.calendar-import .e-upload-files {
  display: none;
}

.schedule-overview .quick-info-header {
  background-color: white;
  padding: 8px 18px;
}

.schedule-overview .content-area {
  padding: 10px;
  width: 100%;
}

.e-bigger .schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 14px;
}

.schedule-context-menu ul .e-menu-item .e-menu-icon {
  font-size: 12px;
}

.schedule-overview.e-schedule .e-vertical-view .e-header-cells,
.schedule-overview.e-schedule .e-timeline-month-view .e-header-cells {
  padding: 0;
  text-align: center !important;
}

.schedule-overview.e-schedule .date-text {
  font-size: 14px;
}

.schedule-overview.e-schedule.e-device .date-text {
  font-size: 12px;
}

.schedule-overview.e-schedule .e-month-view .weather-image {
  float: right;
  margin: -20px 2px 0 0;
  width: 20px;
  height: 20px;
}

.e-bigger
  .schedule-overview
  .overview-toolbar
  .e-toolbar
  .e-toolbar-item:not(.e-separator) {
  padding: 5px;
}

.e-bigger
  .schedule-overview
  .overview-toolbar
  .e-toolbar
  .e-toolbar-item
  .e-tbar-btn {
  padding: 6px;
}

.schedule-overview
  .overview-toolbar
  .e-toolbar
  .e-toolbar-item
  .e-btn.e-tbar-btn
  .e-icons.e-btn-icon,
.schedule-overview
  .overview-toolbar
  .e-toolbar
  .e-toolbar-item
  .e-btn.e-tbar-btn
  .e-tbar-btn-text {
  line-height: 23px !important;
  min-height: 23px !important;
  padding: 0px !important;
}

.schedule-overview
  .overview-toolbar
  .e-toolbar
  .e-toolbar-item.e-template
  .icon-child {
  height: 23px !important;
}

.schedule-overview
  .overview-toolbar
  .e-toolbar
  .e-toolbar-item.e-template
  .text-child {
  line-height: 23px !important;
}
