.overview-toolbar {
  display: flex;
  height: 70px;
  .e-toolbar {
    border-radius: 0;
    .overview-toolbar-settings {
      border-radius: 0;
      background-color: #f8f9fa;
      border-color: rgba(0, 0, 0, 0.15);
      border-left-width: 0;
      border-top-width: 0;
      box-shadow: none;
      color: #495057;
      height: 72px;
      line-height: 1.6;
      outline: none;
      text-transform: capitalize;
      width: 100%;
    }
    .e-toolbar-item .e-tbar-btn.e-tbtn-txt {
      display: inline-grid;
    }
    .e-toolbar-item.e-template {
      margin: 0 5px;
    }
    .e-toolbar-item:not(.e-separator) {
      padding: 3.5px;
    }
    .e-toolbar-item .e-tbar-btn {
      padding: 1.5px;
    }
    .e-toolbar-item .e-tbar-btn.e-btn {
      height: 50px !important;
    }
  }
}
