.sidebarActivationButtonWrapper {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  left: -35px;
  width: 80px;
  background-color: var(--dark-background-color);
  z-index: 1;
  text-align: right;
  .sidebarActivationButton {
    cursor: pointer;
  }
}
