@import "mixins";

.carCard {
  @include flexColumn;
  justify-content: space-between;
  background-color: var(--light-background-color);
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  gap: 20px;
}

.successCard {
  @include flexColumn;
  height: 70vh;
  width: 60vw;
  justify-content: space-between;
  background-color: var(--light-background-color);
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  gap: 20px;
}

.rentCardFormContainer {
  @include flexColumn;
  gap: 20px;
}

.rentCardFormTitle {
  text-align: center;
}

.rentCardForm {
  @include flexColumn;
  gap: 10px;
}

.rentCardFormField {
  @include flexColumn;
  gap: 2px;

  input {
    height: 32px;
  }

  > label {
    font-size: 16px;
  }
}

.container {
  display: flex;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: rgb(151, 151, 151);
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 10px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.submit {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border-radius: 5px;
  color: var(--light-text-color);
  width: 300px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  &:disabled {
    background: grey;
  }
}
