@import "mixins";

.carCard {
  @include flexColumn;
  background-color: var(--light-background-color);
  border-radius: 10px;
  padding: 30px 20px 50px 20px;
  gap: 20px;
}

.rentCardFormContainer {
  @include flexColumn;
  gap: 20px;
}

.rentCardFormTitle {
  text-align: center;
}

.rentCardForm {
  @include flexColumn;
  gap: 10px;
}

.rentCardFormField {
  @include flexColumn;
  gap: 2px;

  input {
    height: 32px;
  }

  > label {
    font-size: 16px;
  }
}
