@import "mixins";

.carCard {
  @include flexRowVerticallySpaceAround;
  background-color: var(--light-background-color);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px 0 50px 0;
  gap: 20px;
}

.rentCardFormContainer {
  @include flexColumn;
  gap: 20px;
}

.rentCardFormTitle {
  text-align: center;
}

.rentCardForm {
  @include flexColumn;
  gap: 10px;
}

.rentCardFormField {
  @include flexColumn;
  gap: 2px;
  > label {
    font-size: 14px;
  }
}
