@import "mixins";

.carsCardSection {
  @include flexColumnDoubleCentered();
  .carsCardSectionContainer {
    @include flexColumnVerticallySpaceBetween();
    height: 85vh;
    background-color: var(--dark-background-color);
    border-radius: 10px;
  }
}
