@import "mixins";

.carsCardSection {
  @include flexColumnDoubleCentered();
  .carsCardSectionContainer {
    @include flexColumnVerticallySpaceBetween();
    height: 85vh;
    background-color: var(--light-background-color);
    border-radius: 10px;
    padding: 30px 20px 0px 20px;
    width: 100%;
  }
}
