.carsCardSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Pagination {
  display: flex;
  gap: 10px;
  padding-left: 0;
  list-style: none;
  align-items: center;
  a {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    cursor: pointer;
  }
}

.PaginationLink {
  position: relative;
  display: block;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
