@import "mixins";

.loginForm {
  @include flexColumn;
  background-color: var(--login-background-color);
  height: 100%;
  padding: 30px 40px;
  gap: 40px;
  width: 498px;
}

.loginFormFieldGroup {
  @include flexColumn;
  gap: 20px;
}
