:root {
  /* COLORS */
  --primary-color: #ffa62b;
  --secondary-color-1: #00a0c1;
  --secondary-color-2: #16697a;
  --background-gradient-1: linear-gradient(
    270deg,
    #d71489 -1.04%,
    #004788 100%
  );
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --dark-background-color: #252b42;
  --light-background-color: #ffffff;
  --login-background-color: #d8ddf1;
  --hover-color: #2a7cc7;
  --disabled-element-color: #8ec2f2;
  --muted-color: #bdbdbd;
  --success-color: #2dc071;
  --alert-color: #e77c40;
  --danger-color: #e74040;
  --login-button-background: #23a6f0;
  /* ELEMENT DIMENSIONS */
  --navbar-height: 10vh;
}

:not(:root):fullscreen {
  object-fit: fill !important;
  user-select: auto !important;
  position: static !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  left: auto !important;
  box-sizing: border-box !important;
  min-width: 0px !important;
  max-width: none !important;
  min-height: 0px !important;
  max-height: none !important;
  width: 100% !important;
  height: 100% !important;
  transform: none !important;
  margin: 0px !important;
  overflow-y: auto;
  background-color: var(--dark-background-color);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--dark-background-color);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  margin: 0;
}

h1 {
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

h6,
a {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

a {
  text-decoration: none;
}

.btn-text {
  color: var(--light-text-color);
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(165, 163, 163);
}

::-webkit-scrollbar-thumb {
  background: rgb(92, 92, 92);
  border-radius: 6px;
}

#scheduler_dialog_wrapper {
  width: 1030px !important;
}
