@import "_mixins";

.ProfileSectionCard {
  @include flexColumnHorizontallyCentered;
  background-color: var(--light-background-color);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px 0 50px 0;
  gap: 20px;
}
