@import "mixins";

.headerSection {
  @include flexRowHorizontallyCenteredVerticallySpaceBetween;
  gap: 50px;
  height: 90vh;
}

.sidebarActive {
  height: 100vh;
  justify-content: center;
}

.carPhoto {
  margin: auto;
  width: 100%;
}
