@import "mixins";

.carsCard {
  &_Container {
    background-color: var(--light-background-color);
    padding: 30px 0px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
  }
  &_Table {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 10px;

    &_Heading {
      text-align: center;
      white-space: nowrap;
      padding: 0 10px;
      vertical-align: top;
    }

    &_Row {
      height: 1px;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        box-shadow: rgb(4 17 29 / 25%) 0px 0px 8px 0px;
      }
      &:nth-child(odd) {
        background-color: #f5f5f5;
      }
      &:nth-child(even) {
        background-color: #afafaf;
      }
      &_Cell {
        height: inherit;
        text-align: center;
      }
    }
  }

  &_Pagination {
    display: flex;
    align-items: center;
    gap: 10px;

    &_Button {
      border: 0;
      padding: 0;
      background-color: var(--light-background-color);
      cursor: pointer;
    }
  }
}
