.tabContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: "center";
  margin: 0 auto;
}

.tabError {
  color: red;
  font-size: 14px;
}

.tabButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.tabNextButton {
  width: 100%;
  background-color: #5aad73;
  border: 0;
  &:not(&:disabled):hover,
  &:not(&:disabled):active {
    background-color: #5aad73;
  }
}

.tabBackButton {
  background-color: #ff5757;
  border: 0;
  &:not(&:disabled):hover,
  &:not(&:disabled):active {
    background-color: #ff5757;
  }
}
