@import "mixins";

.footerLinkSection {
  background-color: var(--secondary-color-2);
  padding: 50px 0;
}

.footerLinkSectionContainer {
  @include flexRow;
  width: 1050px;
  margin: 0 auto;
  justify-content: space-between;
}
