@import "mixins";

.carCard {
  @include flexColumnHorizontallyCentered;
  background-color: var(--light-background-color);
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 30px 0 50px 0;
  gap: 10px;
}

.carCardInnerWrapper {
  @include flexRowVerticallySpaceBetween;
  max-width: 1050px;
}
